@import "base.scss";

body {
	overflow-y: scroll;
}

button:hover,
input:hover {
	filter: brightness(90%);
}

button:active,
input:active {
	filter: brightness(80%);
}

@import "header.scss";

.chat {
	margin-top: 56px;
	margin-bottom: 61px;
	padding: 10px;
	min-height: calc(100vh - 56px - 61px);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	.messageArea {
		display: flex;

		&:not(:first-child) { margin-top: 10px; }
		&.sent {
			.picture { margin-left: 10px; .pic { transform: scaleX(-1); } }
			justify-content: flex-end;
			.sender { text-align: right; }
			.text { text-align: right; }
			.dateTime { text-align: right; }
		}
		&:not(.sent) {
			.picture { margin-right: 10px; }
		}

		.message {
			display: flex;
			flex-direction: row;
			width: 90%;
			background: #fff;
			border: none;
			border-radius: 5px;
			box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.447059);
			padding: 0 5px;

			.content {
				display: flex;
				flex-direction: column;
				font-size: 14px;
				flex: 1 1 auto;
				margin: 8px auto;

				.sender {
					color: #fff;
					text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
				}
				.text {
				}
				.dateTime {
					font-size: 10px;
				}
			}

			.picture {
				display: flex;
				align-items: flex-end;
				flex: 0 0 46px;
				
				.pic {
					background-size: cover;
					background-position: center;
					width: 100%;
					height: 46px;
				}
			}
		}
	}
}

.sendArea {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	bottom: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: 48px;
	background: white;
	box-shadow: 0 10px 20px black;
	border: black 2.5px solid;
	border-radius: 7px;
	padding: 4px 8px;

	textarea {
		display: flex;
		align-items: center;
		vertical-align: middle;
		padding: 0;
		margin-right: 10px;
		height: 100%;
		display: flex;
		width: 100%;
		border: none;
		resize: none;
		outline: none;
		font-size: 14px;
		font-family: Arial, sans-serif;
	}

	button {
		display: flex;
		background-image: url(/img/sendIcon.png);
		background-size: cover;
		background-position: center;
		border: none;
		background-color: transparent;
		height: 100%;
		width: 30px;
		flex: 0 0 30px;
		outline: none;
	}
}