@import "_base.scss";

body {
	overflow-y: scroll;
}

@import "_header.scss";

.chat {
	margin-top: 56px;
	margin-bottom: 61px;
	padding: 10px;
	min-height: calc(100vh - 56px - 61px);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	.messageArea {
		display: flex;

		&:not(:first-child) { margin-top: 10px; }
		&.sent {
			.picture { margin-left: 10px; order: 1; .pic { transform: scaleX(-1); } }
			justify-content: flex-end;
			.text, .code, .codeCaption { text-align: right; }
			.badge { margin-right: 8px; order: -1; }
			.dateTime { justify-content: flex-start !important; order: -2; }
		}
		&:not(.sent) {
			.picture { margin-right: 10px; }
			.badge { margin-left: 8px; }
		}

		.message {
			display: flex;
			flex-direction: row;
			width: 90%;
			background: #fff;
			border: none;
			border-radius: 5px;
			box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.447059);
			padding: 0 5px;

			.content {
				display: flex;
				flex-direction: column;
				font-size: 14px;
				flex: 1 1 auto;
				margin-bottom: 8px;

				.messageData {
					display: flex;
					justify-content: flex-end;
					padding-top: 0px;

					.sender {
						padding-top: 8px;
						color: #fff;
						text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
					}

					.badge {
						padding-top: 8px;
						font-weight: bold;
					}

					.dateTime {
						display: flex;
						align-self: flex-start;
						flex: 1 1 auto;
						font-size: 10px;
						justify-content: flex-end;
						color: #777;
						padding-top: 5px;
					}
				}

				.code:not(:empty) {
					font-size: 24px;
					margin-top: 6px;
					font-weight: bold;
				}

				.codeCaption:not(:empty) {
					font-size: 10px;
					color: #777;
					margin-bottom: 6px;
					font-weight: normal;
				}
			}

			.picture {
				display: flex;
				align-items: flex-end;
				flex: 0 0 46px;
				
				.pic {
					background-size: cover;
					background-position: center;
					width: 100%;
					height: 46px;
				}
			}
		}
	}
}

.usersLog {
	position: fixed;
	top: 66px;
	left: 10px;
	width: 200px;
	color: #ff4040;
	text-shadow: 0 0 2px black;

	.log {
		position: relative;
	}
}

.typing {
	position: fixed;
	top: 56px;
	left: 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0;
	border-radius: 0 0 8px 8px;
	background-color: black;
	border: none;
	padding: 3px 8px;
	color: #888888;
	font-size: 12px;
	text-align: center;
	transition: transform .1s ease-in;

	&.noOne {
		transform: translateY(-100%);
	}
}

.floating {
	position: fixed;
	top: 56px;
	left: 0;
	width: 100%;
	justify-content: center;

	.alert {
		border: 3px solid;
		margin-top: 2px;
		// margin-left: 18px;
		// margin-right: 18px;
		border-radius: 6px;
		padding: 10px 15px;
		
		&.status {
			transition: background-color .5s ease, color .5s ease, border-color .5s ease;
			
			&.connecting {
				border-color: #222222;
				background-color: rgba(#aaaaaa, 0.9);
				color: #333333;
			}
			&.connected {
				border-color: #16482e;
				background-color: rgba(#addbb2, 0.9);
				color: #12871a;
			}
			&.disconnected {
				border-color: #572b00;
				background-color: rgba(#ffcc99, 0.9);
				color: #753b00;
			}
		}

		&.error {
			border-color: #5d0000;
			background-color: rgba(#ffb1b1, 0.9);
			color: #bb1616;
		}
		
		&.success {	
			border-color: #16482e;
			background-color: rgba(#addbb2, 0.9);
			color: #12871a;
		}
		
		&.loadingMessages {
			border-color: #222222;
			background-color: rgba(#aaaaaa, 0.9);
			color: #333333;
		}
	}
}

.bottom {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.sendArea {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 5px 8px 5px;
	height: 48px;
	background: white;
	box-shadow: 0 10px 20px black;
	border: black 2.5px solid;
	border-radius: 7px;
	padding: 4px 8px;

	.sendText {
		padding: 0;
		margin-right: 10px;
		height: 100%;
		width: 100%;
		border: none;
		outline: none;
		font-size: 14px;
		font-family: Arial, sans-serif;
	}

	.sendButton {
		display: flex;
		background-image: url(/img/sendIcon.svg);
		background-size: cover;
		background-position: center;
		border: none;
		background-color: transparent;
		height: 100%;
		flex: 0 0 35px;
		outline: none;
		cursor: pointer;
	}

	.sendCodeButton {
		display: flex;
		background-image: url(/img/codeIcon.svg);
		background-size: cover;
		background-position: center;
		border: none;
		background-color: transparent;
		height: 100%;
		flex: 0 0 35px;
		outline: none;
		margin-right: 10px;
		cursor: pointer;
	}
}