@import "base.scss";

button:hover,
label:hover {
	filter: brightness(90%);
}

button:active,
label:active {
	filter: brightness(80%);
}

@import "header.scss";

.content {
	margin-top: 56px;
	margin-bottom: 48px;
	padding: 10px;
	color: #fff;
	text-align: center;
	display: block;

	.input {
		display: block;
		width: 100%;
		background: #000;
		color: #fff;
		border: 7px double;
		border-radius: 8px;
		padding: 3px;
		margin-bottom: 26px;
		outline: none;
		text-align: center;
		font-size: 26px;
	}

	.color {
		display: none;
	}

	.colorLabel {
		width: 30px;
		height: 30px;
		display: inline-block;
		border: black 3.3px solid;
		border-radius: 3px;
		cursor: pointer;
	}

	.colorSelect {
		margin-bottom: 26px;
	}

	.color:checked + .colorLabel {
		background-image: url(/img/selectedColor.png);
		background-size: cover;
	}

	.red { background: red; }
	.blue { background: blue; }
	.green { background: green; }
	.pink { background: pink; }
	.orange { background: orange; }
	.yellow { background: yellow; }
	.gray { background: gray; }
	.white { background: white; }
	.purple { background: purple; }
	.brown { background: brown; }
	.cyan { background: cyan; }
	.lime { background: lime; }

	.startBtn {
		background-image: url(/img/start.png);
		background-position: center;
		background-size: cover;
		width: 120px;
		height: 68.11px;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}
}


.sendArea {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	bottom: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: 56px;
	background: white;
	box-shadow: 0 10px 20px black;
	border: black 2.5px solid;
	border-radius: 7px;
	padding: 8px;

	textarea {
		display: flex;
		width: 100%;
		border: none;
		resize: none;
	}

	button {
		display: flex;
		background-image: url(/img/sendIcon.png);
		background-size: cover;
		background-position: center;
		border: none;
		background-color: transparent;
		height: 100%;
		width: 30px;
		flex: 0 0 30px;
	}
}