.swal2-popup {
	border: #fff 3px solid !important;
	background-color: #000 !important;
	border-radius: 10px !important;
	box-shadow: none !important;
}

.swal2-content {
	color: #fff;
}

.swal2-input {
	padding: 5px 10px;
	border: #fff 2px solid;
	color: #fff;
	border-radius: 5px;
	font-size: 20px;
	height: auto;
	box-shadow: none;
	transition: .3s ease;
	font-family: sans-serif;

	&:focus {
		border: #eee 2px solid;
		box-shadow: #eee 0 0 0 2px;
	}

	&.validate:not(:valid) {
		border-color: orange;

		&:focus {
			box-shadow: orange 0 0 0 2px;
		}
	}

	&::placeholder {
		color: #888;
	}
}

.swal2-styled {
	background: none !important;
	border: #fff 2px solid !important;
	padding: 3px 7px;
	
	&:focus {
		box-shadow: none;
	}
	&.swal2-confirm {
		border-color: lime !important;
	}
}

.swal2-title {
	color: #fff;
	font-size: 22px;
}

.swal2-close,
.swal2-close:hover {
	background-image: url(/img/close.png);
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
	color: transparent;

	&:focus {
		box-shadow: none;
	}
}

.swal2-validation-message {
	background: none;
	color: #fdd;
	font-size: 20px;
	font-weight: normal;
}