@font-face {
	font-family: "VCR OSD MONO";
	src: url(/lib/fonts/VCR_OSD_MONO.ttf);
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
}

body {
	animation: bg 50s linear infinite;
	background-color: black;
	font-family: Arial, sans-serif;
	background-image: url(/img/stars.png);
	background-repeat: repeat;
	background-size: 100%;
	background-attachment: fixed;
	overscroll-behavior: contain;
	height: 100vh;
	padding-top: 56px;
	word-break: break-word;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	padding: 5px 15px;
	z-index: 1;

	.logo {
		background-image: url(/img/logo.png);
		width: 139.23px;
		height: 38px;
		background-size: cover;
		background-position: center;
		display: inline-block;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 56px);
	flex-direction: column;
}

.infoTitle {
	font-family: 'VCR OSD MONO';
	color: #FF000B;
	font-size: 8vw;
	margin-bottom: 40px;
}

.infoText {
	color: white;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

button:hover,
label:hover,
a:hover {
	filter: brightness(90%);
}

button:active,
label:active,
a:active {
	filter: brightness(80%);
}

@keyframes bg {
	0% { background-position: 0vw; }
	100% { background-position: 100vw; }
}