@font-face {
  font-family: "VCR OSD MONO";
  src: url(/fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
  font-family: "In your face, joffrey!";
  src: url("/fonts/In your face, joffrey!.ttf");
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #323250;
  font-family: Arial, sans-serif;
  background-image: url(/img/stars.png);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}

body {
  overflow-y: scroll;
}

button:hover,
input:hover {
  filter: brightness(90%);
}

button:active,
input:active {
  filter: brightness(80%);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #000;
  color: #fff;
  padding: 5px 15px;
  font-family: "In your face, joffrey!";
  z-index: 1;
}
header .title {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}
header .title .logo {
  background-image: url(/img/logo.png);
  width: 139.23px;
  height: 38px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin-left: 20px;
}

.chat {
  margin-top: 56px;
  margin-bottom: 61px;
  padding: 10px;
  min-height: calc(100vh - 56px - 61px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat .messageArea {
  display: flex;
}
.chat .messageArea:not(:first-child) {
  margin-top: 10px;
}
.chat .messageArea.sent {
  justify-content: flex-end;
}
.chat .messageArea.sent .picture {
  margin-left: 10px;
  order: 1;
}
.chat .messageArea.sent .picture .pic {
  transform: scaleX(-1);
}
.chat .messageArea.sent .text {
  text-align: right;
}
.chat .messageArea.sent .dateTime {
  justify-content: flex-start !important;
  order: -1;
}
.chat .messageArea:not(.sent) .picture {
  margin-right: 10px;
}
.chat .messageArea .message {
  display: flex;
  flex-direction: row;
  width: 90%;
  background: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.447059);
  padding: 0 5px;
}
.chat .messageArea .message .content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex: 1 1 auto;
  margin-bottom: 8px;
}
.chat .messageArea .message .content .messageData {
  display: flex;
  justify-content: flex-end;
  padding-top: 0px;
}
.chat .messageArea .message .content .messageData .sender {
  padding-top: 8px;
  color: #fff;
  text-shadow: black 2px 0px 0px, black 1.75517px 0.958851px 0px, black 1.0806px 1.68294px 0px, black 0.141474px 1.99499px 0px, black -0.832294px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97998px 0.28224px 0px, black -1.87291px -0.701566px 0px, black -1.30729px -1.5136px 0px, black -0.421592px -1.95506px 0px, black 0.567324px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.558831px 0px;
}
.chat .messageArea .message .content .messageData .dateTime {
  display: flex;
  align-self: flex-start;
  flex: 1 1 auto;
  font-size: 10px;
  justify-content: flex-end;
  color: #777;
  padding-top: 5px;
}
.chat .messageArea .message .picture {
  display: flex;
  align-items: flex-end;
  flex: 0 0 46px;
}
.chat .messageArea .message .picture .pic {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 46px;
}

.sendArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 48px;
  background: white;
  box-shadow: 0 10px 20px black;
  border: black 2.5px solid;
  border-radius: 7px;
  padding: 4px 8px;
}
.sendArea textarea {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 0;
  margin-right: 10px;
  height: 100%;
  display: flex;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.sendArea button {
  display: flex;
  background-image: url(/img/sendIcon.png);
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  height: 100%;
  width: 30px;
  flex: 0 0 30px;
  outline: none;
}

/*# sourceMappingURL=chat.css.map */
