@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #323250;
  font-family: Arial, sans-serif;
  background-image: url(/img/stars.png);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  overscroll-behavior: contain;
}

.hidden {
  display: none !important;
}

button:hover,
label:hover,
a:hover {
  filter: brightness(90%);
}

button:active,
label:active,
a:active {
  filter: brightness(80%);
}

body {
  overflow-y: scroll;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
  z-index: 1;
  justify-content: space-between;
}
header button {
  background: none;
  border: none;
  font-size: 24px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  flex-basis: 45px;
}
header button .badge {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transform: translateY(-5px);
}
header .logo {
  background-image: url(/img/logo.png);
  width: 139.23px;
  height: 38px;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
header .onesignal-customlink-container button {
  font-weight: 900 !important;
  font-family: "Font Awesome 5 Free" !important;
  text-decoration: none !important;
  transition: none !important;
  font-size: inherit !important;
}
header .onesignal-customlink-container button.state-subscribed::before {
  content: "";
}
header .onesignal-customlink-container button.state-unsubscribed::before {
  content: "";
}

.chat {
  margin-top: 56px;
  margin-bottom: 61px;
  padding: 10px;
  min-height: calc(100vh - 56px - 61px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat .messageArea {
  display: flex;
}
.chat .messageArea:not(:first-child) {
  margin-top: 10px;
}
.chat .messageArea.sent {
  justify-content: flex-end;
}
.chat .messageArea.sent .picture {
  margin-left: 10px;
  order: 1;
}
.chat .messageArea.sent .picture .pic {
  transform: scaleX(-1);
}
.chat .messageArea.sent .text, .chat .messageArea.sent .code, .chat .messageArea.sent .codeCaption {
  text-align: right;
}
.chat .messageArea.sent .badge {
  margin-right: 8px;
  order: -1;
}
.chat .messageArea.sent .dateTime {
  justify-content: flex-start !important;
  order: -2;
}
.chat .messageArea:not(.sent) .picture {
  margin-right: 10px;
}
.chat .messageArea:not(.sent) .badge {
  margin-left: 8px;
}
.chat .messageArea .message {
  display: flex;
  flex-direction: row;
  width: 90%;
  background: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.447059);
  padding: 0 5px;
}
.chat .messageArea .message .content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex: 1 1 auto;
  margin-bottom: 8px;
}
.chat .messageArea .message .content .messageData {
  display: flex;
  justify-content: flex-end;
  padding-top: 0px;
}
.chat .messageArea .message .content .messageData .sender {
  padding-top: 8px;
  color: #fff;
  text-shadow: #000 2px 0px 0px, #000 1.75517px 0.958851px 0px, #000 1.0806px 1.68294px 0px, #000 0.141474px 1.99499px 0px, #000 -0.832294px 1.81859px 0px, #000 -1.60229px 1.19694px 0px, #000 -1.97998px 0.28224px 0px, #000 -1.87291px -0.701566px 0px, #000 -1.30729px -1.5136px 0px, #000 -0.421592px -1.95506px 0px, #000 0.567324px -1.91785px 0px, #000 1.41734px -1.41108px 0px, #000 1.92034px -0.558831px 0px;
}
.chat .messageArea .message .content .messageData .badge {
  padding-top: 8px;
  font-weight: bold;
}
.chat .messageArea .message .content .messageData .dateTime {
  display: flex;
  align-self: flex-start;
  flex: 1 1 auto;
  font-size: 10px;
  justify-content: flex-end;
  color: #777;
  padding-top: 5px;
}
.chat .messageArea .message .content .code:not(:empty) {
  cursor: pointer;
  font-size: 24px;
  margin-top: 6px;
  font-weight: bold;
}
.chat .messageArea .message .content .codeCaption:not(:empty) {
  font-size: 10px;
  color: #777;
  margin-bottom: 6px;
  font-weight: normal;
}
.chat .messageArea .message .content .text {
  word-break: break-word;
}
.chat .messageArea .message .picture {
  display: flex;
  align-items: flex-end;
  flex: 0 0 46px;
}
.chat .messageArea .message .picture .pic {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 46px;
  background-image: url(/img/players.png);
  background-size: 184px;
  background-position: 0 0;
}
.chat .messageArea .message .picture .pic.player-blue {
  background-position: calc(-46px * 0) calc(-46px * 0);
}
.chat .messageArea .message .picture .pic.player-brown {
  background-position: calc(-46px * 1) calc(-46px * 0);
}
.chat .messageArea .message .picture .pic.player-cyan {
  background-position: calc(-46px * 2) calc(-46px * 0);
}
.chat .messageArea .message .picture .pic.player-gray {
  background-position: calc(-46px * 3) calc(-46px * 0);
}
.chat .messageArea .message .picture .pic.player-green {
  background-position: calc(-46px * 0) calc(-46px * 1);
}
.chat .messageArea .message .picture .pic.player-lime {
  background-position: calc(-46px * 1) calc(-46px * 1);
}
.chat .messageArea .message .picture .pic.player-orange {
  background-position: calc(-46px * 2) calc(-46px * 1);
}
.chat .messageArea .message .picture .pic.player-pink {
  background-position: calc(-46px * 3) calc(-46px * 1);
}
.chat .messageArea .message .picture .pic.player-purple {
  background-position: calc(-46px * 0) calc(-46px * 2);
}
.chat .messageArea .message .picture .pic.player-red {
  background-position: calc(-46px * 1) calc(-46px * 2);
}
.chat .messageArea .message .picture .pic.player-white {
  background-position: calc(-46px * 2) calc(-46px * 2);
}
.chat .messageArea .message .picture .pic.player-yellow {
  background-position: calc(-46px * 3) calc(-46px * 2);
}

.usersLog {
  position: fixed;
  top: 66px;
  left: 0;
  width: 100%;
  color: #ff4040;
  text-shadow: #fff 2px 0px 0px, #fff 1.75517px 0.958851px 0px, #fff 1.0806px 1.68294px 0px, #fff 0.141474px 1.99499px 0px, #fff -0.832294px 1.81859px 0px, #fff -1.60229px 1.19694px 0px, #fff -1.97998px 0.28224px 0px, #fff -1.87291px -0.701566px 0px, #fff -1.30729px -1.5136px 0px, #fff -0.421592px -1.95506px 0px, #fff 0.567324px -1.91785px 0px, #fff 1.41734px -1.41108px 0px, #fff 1.92034px -0.558831px 0px;
  padding-left: 10px;
  border-left: 5px solid;
}
.usersLog .log {
  position: relative;
}

.typing {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  border-radius: 0 0 8px 8px;
  background-color: black;
  border: none;
  padding: 3px 8px;
  color: #888888;
  font-size: 12px;
  text-align: center;
  transition: transform 0.1s ease-in;
}
.typing.noOne {
  transform: translateY(-100%);
}

.floating {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  justify-content: center;
}
.floating .alert {
  border: 3px solid;
  margin-top: 2px;
  border-radius: 6px;
  padding: 10px 15px;
}
.floating .alert.status {
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
.floating .alert.status.connecting {
  border-color: #222222;
  background-color: rgba(170, 170, 170, 0.9);
  color: #333333;
}
.floating .alert.status.connected {
  border-color: #16482e;
  background-color: rgba(173, 219, 178, 0.9);
  color: #12871a;
}
.floating .alert.status.disconnected {
  border-color: #572b00;
  background-color: rgba(255, 204, 153, 0.9);
  color: #753b00;
}
.floating .alert.error {
  border-color: #5d0000;
  background-color: rgba(255, 177, 177, 0.9);
  color: #bb1616;
}
.floating .alert.error::before {
  font-family: "Font Awesome 5 Free";
  content: "";
}
.floating .alert.success {
  border-color: #16482e;
  background-color: rgba(173, 219, 178, 0.9);
  color: #12871a;
}
.floating .alert.success::before {
  font-family: "Font Awesome 5 Free";
  content: "";
}
.floating .alert.loadingMessages {
  border-color: #222222;
  background-color: rgba(170, 170, 170, 0.9);
  color: #333333;
}

.bottom {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sendArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px 8px 5px;
  height: 48px;
  background: white;
  box-shadow: 0 10px 20px black;
  border: black 2.5px solid;
  border-radius: 7px;
  padding: 4px 8px;
}
.sendArea .sendText {
  padding: 0;
  margin-right: 10px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: inherit;
}
.sendArea .sendButton {
  display: flex;
  background-image: url(/img/sendIcon.svg);
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  height: 100%;
  flex: 0 0 35px;
  outline: none;
  cursor: pointer;
}
.sendArea .sendCodeButton {
  display: flex;
  background-image: url(/img/codeIcon.svg);
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  height: 100%;
  flex: 0 0 35px;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}
.sendArea.disabled {
  background-color: #ddd;
}
.sendArea.disabled .sendButton, .sendArea.disabled .sendCodeButton {
  opacity: 0.5;
}

.messagePreview {
  text-align: left;
  margin: 10px;
  border: #fff 2px solid;
  border-radius: 5px;
  padding: 5px 10px !important;
}

/*# sourceMappingURL=chat.css.map */
