@font-face {
  font-family: "VCR OSD MONO";
  src: url(/fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
  font-family: "In your face, joffrey!";
  src: url("/fonts/In your face, joffrey!.ttf");
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #323250;
  font-family: Arial, sans-serif;
  background-image: url(/img/stars.png);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}

button:hover,
label:hover {
  filter: brightness(90%);
}

button:active,
label:active {
  filter: brightness(80%);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #000;
  color: #fff;
  padding: 5px 15px;
  font-family: "In your face, joffrey!";
  z-index: 1;
}
header .title {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}
header .title .logo {
  background-image: url(/img/logo.png);
  width: 139.23px;
  height: 38px;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.content {
  margin-top: 56px;
  margin-bottom: 48px;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: block;
}
.content .input {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  border: 7px double;
  border-radius: 8px;
  padding: 3px;
  margin-bottom: 26px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
.content .color {
  display: none;
}
.content .colorLabel {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: black 3.3px solid;
  border-radius: 3px;
  cursor: pointer;
}
.content .colorSelect {
  margin-bottom: 26px;
}
.content .color:checked + .colorLabel {
  background-image: url(/img/selectedColor.png);
  background-size: cover;
}
.content .red {
  background: #C61111;
}
.content .blue {
  background: #132ED2;
}
.content .green {
  background: #11802D;
}
.content .pink {
  background: #EE54BB;
}
.content .orange {
  background: #F07D0D;
}
.content .yellow {
  background: #F6F657;
}
.content .gray {
  background: #3F474E;
}
.content .white {
  background: #D7E1F1;
}
.content .purple {
  background: #6B2FBC;
}
.content .brown {
  background: #71491E;
}
.content .cyan {
  background: #38FFDD;
}
.content .lime {
  background: #50F039;
}
.content .startBtn {
  background-image: url(/img/start.png);
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 68.11px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.sendArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 56px;
  background: white;
  box-shadow: 0 10px 20px black;
  border: black 2.5px solid;
  border-radius: 7px;
  padding: 8px;
}
.sendArea textarea {
  display: flex;
  width: 100%;
  border: none;
  resize: none;
}
.sendArea button {
  display: flex;
  background-image: url(/img/sendIcon.png);
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  height: 100%;
  width: 30px;
  flex: 0 0 30px;
}

/*# sourceMappingURL=home.css.map */
