<!DOCTYPE html>
<html lang="pt-br" ng-app="amongUsChat">

<head>
	<!-- ERUDA -->
	<script src="https://cdn.jsdelivr.net/npm/eruda"></script>
	<script>eruda.init()</script>
	<!-- ----- -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat do Among Us</title>
	<link rel="shortcut icon" href="favicon.png" type="image/png">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="/lib/css/font-awesome.all.min.css">
	<link rel="stylesheet" href="/lib/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/chat.css">
</head>

<body ng-controller="amongUsChat-chatCtrl">
	<header>
		<div class="title">
			<button class="fas fa-cog" title="Configurações"></button>
			<a href="/" class="logo"></a>
			<button class="fas fa-bell" title="Notificações"></button>
		</div>
	</header>

	<div class="chat container">
		<button ng-click="errors.push({ description: 'text' })">ADD error</button>
		<button ng-click="successes.push({ description: 'text' })">ADD success</button>
		<input ng-model="statuse" ng-init="statuse='connected'">
		<button ng-click="status=statuse">SET</button>

		<div class="messageArea"
			ng-class="::{'sent': chat.sender.userName === userName && chat.sender.userIDHash === userIDHash}"
			ng-repeat="chat in chats track by chat.id">
			<div class="message">
				<div class="picture">
					<div class="pic" ng-style="::{'background-image':'url(/img/players/{{ ::chat.sender.userColor }}.png)'}">
					</div>
				</div>
				<div class="content">
					<div class="messageData">
						<div class="sender">{{ ::chat.sender.userName }}</div>
						<div class="badge" ng-if="::chat.badge" ng-style="::{'color': '{{ ::chat.badge.color }}'}">
							<i ng-class="'fas fa-{{ ::chat.badge.icon }}'"></i>
							{{ ::chat.badge.text }}
						</div>
						<div class="dateTime" data-time="{{ ::chat.dateTime }}">{{ ::moment(chat.dateTime).fromNow() }}</div>
					</div>
					<div class="code" ng-if="::chat.code">{{ ::chat.code }}</div> <!-- Click Copy -->
					<div class="codeCaption" ng-if="::chat.code">Código da sala</div>
					<div class="text" ng-if="::chat.text">{{ ::chat.text }}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="floating">
		<div class="typing" ng-class="{'noOne': !typingUsers.filter(e => e.userIDHash !== userIDHash).length}">{{ typing() }}</div>
		<div class="container alert status {{ status }}" ng-switch on="status">
			<div ng-switch-when="connecting">Conectando...</div>
			<div ng-switch-when="connected">Conectado</div>
			<div ng-switch-when="disconnected">Desconectado!</div>
		</div>
		<div class="container alert loadingMessages" ng-show="loadingMessages">Carregando mensagens...</div>
		<div class="successes">
			<div class="container alert success" ng-repeat="msg in successes track by $index" ng-init="timeout(msg, successes)">{{ ::msg.description }}</div>
		</div>
		<div class="errors">
			<div class="container alert error" ng-repeat="msg in errors track by $index" ng-init="timeout(msg, errors)">{{ ::msg.description }}</div>
		</div>
	</div>
	<div class="usersLog">
		<div ng-repeat="log in usersLog track by $index">{{ ::log }}</div>
	</div>

	<div class="bottom">
		<div class="sendArea container">
			<input type="text" class="sendText" placeholder="Digite aqui..." ng-model="sendText">
			<button class="sendCodeButton" ng-click="sendCode(sendText)"></button>
			<button class="sendButton" ng-click="send(sendText)"></button>
		</div>
	</div>

	<script src="/socket.io/socket.io.min.js"></script>
	<script src="/lib/js/jquery.min.js"></script>
	<script src="/lib/js/angular.min.js"></script>
	<script src="/lib/js/angular-animate.min.js"></script>
	<script src="/lib/js/moment.min.js"></script>
	<script src="/lib/js/sha1.min.js"></script>
	<script src="/js/Helpers.js"></script>
	<script src="/js/Sounds.js"></script>
	<script src="/js/UserData.js"></script>
	<script src="/js/chat/Chat.js"></script>
	<script src="/js/chat/Socket.js"></script>
	<script src="/js/chat/index.js"></script>
</body>

</html>