<!DOCTYPE html>
<html lang="pt-br" ng-app="amongUsChat">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Chat do Among Us</title>
	<link rel="shortcut icon" href="favicon.png" type="image/png">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="/lib/css/font-awesome.all.min.css">
	<link rel="stylesheet" href="/lib/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/chat.css">
</head>

<body ng-controller="amongUsChat-chatCtrl">
	<header>
		<div class="title">
			<button class="fas fa-cog" title="Configurações"></button>
			<a href="/" class="logo"></a>
			<button class="fas fa-bell" title="Notificações"></button>
		</div>
	</header>

	<ng-include src="'templates/chat.html'"></ng-include>
	<ng-include src="'templates/info.html'"></ng-include>

	<div class="bottom">
		<div class="sendArea container">
			<input type="text" class="sendText" placeholder="Digite aqui..." ng-model="sendText" ng-enter="send(sendText)">
			<button class="sendCodeButton" ng-click="sendCode(sendText)" title="Enviar código"></button>
			<button class="sendButton" ng-click="send(sendText)" title="Enviar"></button>
		</div>
	</div>

	<script src="/socket.io/socket.io.min.js"></script>
	<script src="/lib/js/jquery.min.js"></script>
	<script src="/lib/js/angular.min.js"></script>
	<script src="/lib/js/angular-animate.min.js"></script>
	<script src="/lib/js/moment.min.js"></script>
	<script src="/lib/js/sha1.min.js"></script>
	<script src="/js/Helpers.js"></script>
	<script src="/js/Sounds.js"></script>
	<script src="/js/UserData.js"></script>
	<script src="/js/shared.js"></script>
	<script src="/js/chat/Socket.js"></script>
	<script src="/js/chat/index.js"></script>
	<script src="/js/chat/animations.js"></script>
	<script src="/js/chat/ngEnter.js"></script>
</body>

</html>