* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: rgb(50, 50, 80);
	font-family: Arial, sans-serif;
	background-image: url(/img/stars.png);
	background-repeat: repeat;
	background-size: 100%;
	background-attachment: fixed;
	overscroll-behavior: contain;
}

::selection {
	background-color: #ADE1F5;
	color: inherit;
}

.hidden {
	display: none !important;
}

button:hover,
label:hover,
a:hover {
	filter: brightness(90%);
}

button:active,
label:active,
a:active {
	filter: brightness(80%);
}

.loadingScreen {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000aa;
	left: 0;
	top: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;

	.loadingIcon {
		width: 64px;
		background-image: url(/img/loading.svg);
		height: 38px;
		background-size: 100% auto;
		animation: loading .4s steps(1) infinite;
	}
}

@keyframes loading {
	0%, 100% {background-position-y: calc(-38px * 0)}
	25%, 75% {background-position-y: calc(-38px * 1)}
	50% {background-position-y: calc(-38px * 2)}
}