.swal2-popup {
	border: #fff 3px solid !important;
	background-color: #000 !important;
	border-radius: 10px !important;
	box-shadow: none !important;
	color: #fff !important;
}

.swal2-title {
	font-size: 22px !important;
}

.swal2-title,
.swal2-content {
	color: inherit !important;
}

.swal2-input {
	padding: 5px 10px !important;
	border: #fff 2px solid !important;
	color: inherit !important;
	border-radius: 5px !important;
	font-size: 20px !important;
	height: auto !important;
	box-shadow: none !important;
	transition: .3s ease !important;
	font-family: sans-serif !important;

	&:focus {
		border: #eee 2px solid !important;
		box-shadow: #eee 0 0 0 2px !important;
	}

	&.validate:not(:valid) {
		border-color: orange !important;

		&:focus {
			box-shadow: orange 0 0 0 2px !important;
		}
	}

	&::placeholder {
		color: #888 !important;
	}
}

.swal2-styled {
	background: none !important;
	border: #fff 2px solid !important;
	padding: 3px 10px;
	
	&:focus {
		box-shadow: none !important;
	}
	&.swal2-confirm {
		border-color: lime !important;
	}
}

.swal2-close,
.swal2-close:hover {
	background-image: url(/img/close.png) !important;
	background-position: center !important;
	background-size: 70% !important;
	background-repeat: no-repeat !important;
	color: transparent !important;

	&:focus {
		box-shadow: none !important;
	}
}

.swal2-validation-message {
	background: none !important;
	color: #fdd !important;
	font-size: 20px !important;
	font-weight: normal !important;
}

ul.list {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	text-align: left;
	flex-direction: column;
	padding: 0;

	li, a, label, button {
		display: flex;
		height: 40px;
		// justify-content: space-between;
		align-items: center;
		color: inherit;
		background-color: inherit;
		border: none;
		font-size: inherit;
		outline: none;
		text-decoration: none;
		width: 100%;
		padding: 0;
		
		.listIcon {
			margin-right: 10px;
			width: 20px;

			&.player {
				height: 20px;
				background-image: url(/img/players.png);
				background-size: calc(100% * 4);
				&.player-blue   { background-position: calc(-20px * 0) calc(-20px * 0) }
				&.player-brown  { background-position: calc(-20px * 1) calc(-20px * 0) }
				&.player-cyan   { background-position: calc(-20px * 2) calc(-20px * 0) }
				&.player-gray   { background-position: calc(-20px * 3) calc(-20px * 0) }
				&.player-green  { background-position: calc(-20px * 0) calc(-20px * 1) }
				&.player-lime   { background-position: calc(-20px * 1) calc(-20px * 1) }
				&.player-orange { background-position: calc(-20px * 2) calc(-20px * 1) }
				&.player-pink   { background-position: calc(-20px * 3) calc(-20px * 1) }
				&.player-purple { background-position: calc(-20px * 0) calc(-20px * 2) }
				&.player-red    { background-position: calc(-20px * 1) calc(-20px * 2) }
				&.player-white  { background-position: calc(-20px * 2) calc(-20px * 2) }
				&.player-yellow { background-position: calc(-20px * 3) calc(-20px * 2) }
			}
		}
		
		.listBadge {
			background: red;
			border-radius: 50%;
			display: inline-block;
			margin-right: 10px;
			width: 10px;
			height: 10px;
		}

		.listText {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.listCheck {
			margin-left: auto;
		}

		&:not(:last-child) {
			border-bottom: #333 1px solid;
		}
	}

	a, label, button { cursor: pointer; }
}